
.datetimepicker.dropdown-menu {
  margin-top: 70px;
}

#user-create-form {
    display: none;
}

#switch-to-create,
#switch-to-login {
    float: right;
}

/* ================== password reset ================== */
.wrapper {
    padding: 30px;
    /*background-color: #939393;*/
    /*border-radius: 8px;*/
    /*-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);*/
    /*-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);*/
    /*box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);*/
    /*margin-bottom: 50px;*/
}
.wrapper label {
    /*color: #9C3100;*/
    /*font-weight: bold;*/
}
.wrapper hr {
    border: 0;
    /*height: 3px;*/
    background: #333;
    background-image: linear-gradient(to right, #777, #777, #939393);
}


/* ================== poster voting ================== */
img {
    -webkit-filter: grayscale(1);
}
img:hover {
    -webkit-filter: grayscale(0);
}
.liked img {
    -webkit-filter: grayscale(0);
    -webkit-box-shadow: 0px 0px 90px -5px rgba(42,159,214,1);
    -moz-box-shadow: 0px 0px 90px -5px rgba(42,159,214,1);
    box-shadow: 0px 0px 90px -5px rgba(42,159,214,1);
}


/* ================== movie details ================== */
.grid-item {
    margin-left: 25px;
    margin-right: 25px;
}
.movie-summary {
    height: 260px;
    margin-bottom: 20px;
}
.movie-summary h5 {
    margin-bottom: 0px;
}
.movie-summary img {
     width: 135px;
     height: 214px;
}
.movie-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.movie-image-wrapper {
    margin-top: 5px;
}

/* ================== fade border ================== */
.fade-border {
    position: relative;
    padding-bottom: 10px;
}

.fade-border:before, .fade-border:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
}
.fade-border:before {
  top: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#666), to(transparent));
  background-image: -webkit-linear-gradient(transparent, #666);
  background-image: -moz-linear-gradient(transparent, #666);
  background-image: -o-linear-gradient(transparent, #666);
}
.fade-border:after {
  right: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#666), to(transparent));
  background-image: -webkit-linear-gradient(left, #666, transparent);
  background-image: -moz-linear-gradient(left, #666, transparent);
  background-image: -o-linear-gradient(left, #666, transparent);
}


/* ================== footer ================== */
.footer {
    text-align: center;
    font-weight: bold;
    /* settings for the position of the footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 46px;
}
html { /* sticks the footer to the bottom */
  position: relative;
  min-height: 100%;
}
.footer > .container { /* aligns the text inside the footer */
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}
.footer li {
    display: inline;
}


/* ================== event details ================== */
.event-movie-poster {
  height: 150px;
  width: auto;
}

.event-summary-wrapper {
    margin-bottom: 25px;
}
p.event-summary {
    line-height: 50%;
}
.event-summary .glyphicon {
    font-size: 80%;
    line-height: 50%;
}
.event-summary.body {
    text-indent: 20px;
}

.row.vertical-divider{
    overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
}

.joined-column {
    right: -1px;
}
.owned-column {
}

/* ================== group details ================== */
.group-event-panel {
    overflow: hidden;
}

.panel-heading>a {
    color: #fff;
    font-weight: bold;
}
.panel-heading>a>abbr {
    border-bottom: none;
    cursor: inherit;
}

.panel-body dd {
    margin-left: 1em;
    margin-bottom: 1em;
}

.panel-body ul  {
    padding-left: 0px;
    list-style-type: none;
}

.group-event-panel-wrapper {
}

.group-event-panel-information-wrapper {
    width: -moz-calc(100% - 165px);
    width: -webkit-calc(100% - 165px);
    width: calc(100% - 165px);
    position: relative;
    display: inline-block;
    margin-right: 0px;
    float:left;
}

.group-event-panel-poster-wrapper {
    float: right;
}

.group-event-panel-poster-wrapper img {
    width: 150px;
    position: relative;
}
