body {
    margin-top: 70px;
    margin-bottom: 70px;
}

#user-create-form {
    display: none;
}

#switch-to-create,
#switch-to-login {
    float: right;
}

.wrapper {
    padding: 30px;
    background-color: #eee;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    margin-bottom: 50px;
}

/*settings for the footer*/
.footer {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-rendering: optimizelegibility;
    font-weight: bold;
    /* settings for the position of the footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 46px;
    background-color: #ddd;
}

html {
  position: relative;
  min-height: 100%;
}

/*settings for aligning text inside the footer*/
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.footer li {
    display: inline;
}
