{% extends  'base.html' %}
{% load staticfiles %}

{% block css %}

{% endblock css %}


{% block content %}

<div class="container">
    <div class="row">
        
        <div class="row">
            <h1>Add a Movie</h1>
        </div>
        
        <div class="row">
            <form class='col-md-8' action="{% url 'add_movie' %}" method='POST'>
                {% csrf_token %}
                
                <div class="col-md-9">
                    <div class="form-group">
                        {# <label for="url-box"></label> #}
                        <input class="form-control" id="url-box" name='url' placeholder="Enter the IMDB url for a movie"></input>
                        <p class="help-block"> {{ message }}</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <button type="submit" id='submit-button' class="btn btn-default"><span class='glyphicon glyphicon-plus'></span> Add Movie</button>
                </div>
                
            </form>
        </div>

    </div>
    <br>
    {% include "movie_details.html" %}
</div>

{% endblock content %}


{% block js %}

{% endblock js %}
