{% extends  'base.html' %}
{% load staticfiles %}

{% block css %}

{% endblock css %}


{% block content %}

<div class="container">
    <div class="row">
        
        <div class="row">
            <div class="col-xs-12">
                <h1>Add an event</h1>
            </div>
        </div>
        
        <div class="row">
            <form class='col-xs-11 col-sm-10 col-md-8' action="{% url 'create_event' %}" method='POST'>
                {% csrf_token %}
                
                <div class="col-xs-12">
                    <div class="form-group">
                            {{ form.name }}
                            <br>
                            {{ form.date_and_time }}
                            <br>
                            {{ form.group }}
                            <br>
                            <br>
                            {{ form.description }}
                        {# <p class="help-block"> {{ errors }}</p> #}
                    {# </div> #}
                {# </div> #}
                {# <div class="col-xs-12"> #}
                    {# <div class="form-group"> #}
                            {# {{ location.location_type }} #}
                            {# <br> #}
                            {# {{ location.url }} #}
                            <br>
                            {{ location.text }}
                        <p class="help-block"> {{ message }}</p>
                    </div>
                </div>

                <div class="col-xs-3">
                    <button type="submit" id='submit-button' class="btn btn-default"><span class='glyphicon glyphicon-plus'></span> Add event</button>
                </div>
                
            </form>
        </div>

    </div>
    <br>
</div>

{% endblock content %}


{% block js %}

{% endblock js %}
