{% extends  'base.html' %}

{% block css %}

{% endblock css %}


{% block content %}

<div class="container">
    <div class="row">
        
        <h1>{{ page_title }}</h1>
        {% for group in groups %}

            <h3>{{ group.name }}</h3>
            <ul>
                <li>{{ group.description }}</li>
                {% for user in group.users.all %}
                    <li>{{ user }}</li>
                {% endfor %}
            </ul>
            
        {% endfor %}
        <p>{{  user.Group_set }}</p>
        
    </div>
</div>
    
{% endblock content %}


{% block js %}

{% endblock js %}
