{% load staticfiles %}

<!DOCTYPE html>
<html>

    <head>
        <title>Movie Picker</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/local.css' %}">
        <link rel="stylesheet" href="{% static 'css/moviepicker.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        {% block css %}{% endblock css %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        {{ form.media }}
    </head>

    <body>

        {% include "navbar.html" %}

        {% block content %}
        {% endblock content %}

        {% include "footer.html" %}


        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moviepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        {% block js %}{% endblock js %}
    </body>

</html>
