{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% if lockins %}
                    <h4>Locked in movies:</h4>
                    {% for lockin in lockins %}
                        <p>{{lockin.movie}} {% if user == creator %}
                        <span><button class="glyphicon glyphicon-remove btn-danger delete-lockin" data-lockin-id="{{lockin.id}}" data-group-slug="{{ event.group.slug }}" data-event-id="{{event.id}}" data-movie-id="{{lockin.movie.imdb_id}}"></button></span>{% endif %}</p>
                    {% endfor %}
                {% endif %}
                
            </div>
            <div class="col-sm-8">
                <h2><center>{{event.name}}</center></h2>
                <p><center>{{event.description}}</center></p>
                <br>
                <p><center>Movie starts time: {{event.date_and_time}}</center></p>
            </div>
            <div class="col-sm-2">
                {% if user.is_authenticated %}
                    {% if event in user.events.all %}
                        <button class="btn btn-danger pull-right leave-event-button" data-group-slug="{{ event.group.slug }}" data-event-id="{{event.id}}">Leave Event</button>
                    {% else %}
                        <button class="btn btn-success pull-right join-event-button" data-group-slug="{{ event.group.slug }}" data-event-id="{{event.id}}">Join Event</button>
                    {% endif %}
                {% else %}
                    <button class="btn btn-success pull-right join-event-button" data-group-slug="{{ event.group.slug }}" data-event-id="{{event.id}}">Join Event</button>
                {% endif %}
                {% if user == creator %}
                    <form action="" method="post" id="lockin-form">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="lockin">
                        {{lockin_form.as_p}}
                        <button class="btn btn-default" type="submit">Lock In</button>
                    </form>
                {% endif %}
                <p>{{errors}}</p>
                <p>{{success}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <h3><center>Current Event Members</center></h3>
                {% for user in users %}
                    <div class="col-xs-3 col-sm-2">
                        <p>{{user.username}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "movie_list.html" %}
    </div>
{% endblock content %}