{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-3">
                <h2>{{event.name}}</h2>
                <p>{{event.description}}</p>
                <p>We will watch the movie on {{event.date_and_time}}</p>
            </div>
            <div class="col-sm-offset-1 col-sm-3">
                {% for user in users %}
                    <p>{{user}}</p>
                {% endfor %}
            </div>
            <div class="col-sm-offset-1 col-sm-3">
                {% for movie in movies %}
                    <p>{{movie.name}}</p>
                    <img src="{{movie.poster.url}}" alt="">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}