{% extends  'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        
        <h1>
            <span>{{ group.name }}</span>
            {% if user.is_authenticated %}
                {% if group in user.movie_groups.all %}
                    <button id="group-membership-button" class="btn btn-danger pull-right" data-group-pk="{{ group.pk }}" data-group-action="leave">Leave Group</button>
                {% else %}
                    <button id="group-membership-button" class="btn btn-success pull-right" data-group-pk="{{ group.pk }}" data-group-action="join">Join Group</button>
                {% endif %}
            {% else %}
                <button id="group-membership-button" class="btn btn-success pull-right" data-group-pk="{{ group.pk }}" data-group-action="join">Join Group</button>
            {% endif %}
        </h1>

        <h2>Users:</h2>
            <ul>
                {% for user in users %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        {% include "movie_list.html" %}
    </div>
</div>
    
{% endblock content %}