{% extends  'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row vertical-divider">

            <div class="col-sm-6 joined-column">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Groups Joined:</h4>
                        {% for group in groups_joined %}
                            <p><a href="{% url 'group_details' group.slug %}">{{ group.name }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-8">
                        <h4>Events Joined:</h4>
                        {% for event in events_joined %}
                            <div class="event-summary-wrapper">
                                <p class="event-summary"><a href="{% url 'event_details' event.group.slug event.pk %}">{{ event.name }}</a><span class="pull-right">{% if event.is_showing %}Now active!{% else %}{{ event.date_and_time|timeuntil }}{% endif %}</span></p>
                                {% if event.leader %}
                                    <p class="event-summary body">{% if event.is_locked %}<span class="glyphicon glyphicon-lock pull-left"></span>{% else %}<span class="glyphicon glyphicon-arrow-up pull-left"></span>{% endif %} <a href="{% url 'movie_details' event.leader.imdb_id %}">{{ event.leader.title }} [{{ event.leader.year }}]</a></p>
                                {% else %}
                                    <p class="event-summary body">No votes have been submitted yet.</p>
                                {% endif %}
                                {# <p class="event-summary body">{% if event.is_locked %}<span class="glyphicon glyphicon-lock pull-left"></span>{% else %}<span class="glyphicon glyphicon-arrow-up pull-left"></span>{% endif %} <a href="{% url 'movie_details' event.leader.imdb_id %}">{{ event.leader.title }} [{{ event.leader.year }}]</a></p> #}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-6 owned-column">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Groups Owned:</h4>
                        {% for group in groups_created %}
                            <p><a href="{% url 'group_details' group.slug %}">{{ group.name }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-8">
                        <h4>Events Owned:</h4>
                        {% for event in events_created %}
                            <div class="event-summary-wrapper">
                                <p class="event-summary"><a href="{% url 'event_details' event.group.slug event.pk %}">{{ event.name }}</a><span class="pull-right">{% if event.is_showing %}Now active!{% else %}{{ event.date_and_time|timeuntil }}{% endif %}</span></p>
                                {% if event.leader %}
                                    <p class="event-summary body">{% if event.is_locked %}<span class="glyphicon glyphicon-lock pull-left"></span>{% else %}<span class="glyphicon glyphicon-arrow-up pull-left"></span>{% endif %} <a href="{% url 'movie_details' event.leader.imdb_id %}">{{ event.leader.title }} [{{ event.leader.year }}]</a></p>
                                {% else %}
                                    <p class="event-summary body">No votes have been submitted yet.</p>
                                {% endif %}
                                {# <p class="event-summary body">{% if event.is_locked %}<span class="glyphicon glyphicon-lock pull-left"></span>{% else %}<span class="glyphicon glyphicon-arrow-up pull-left"></span>{% endif %} <a href="{% url 'movie_details' event.leader.imdb_id %}">{{ event.leader.title }} [{{ event.leader.year }}]</a></p> #}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        {% include "movie_list.html" %}

    </div>

{% endblock content %}
