{% extends  'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Groups Joined:</h4>
                        {% for group in groups_joined %}
                            <p><a href="{% url 'group_details' group.slug %}">{{ group.name }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-8">
                        <h4>Events Joined:</h4>
                        {% for event in events_joined %}
                            <p><a href="{% url 'event_details' event.group.slug event.pk %}">{{ event.name }}</a> ({{ event.date_and_time|timeuntil }})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Groups Owned:</h4>
                        {% for group in groups_created %}
                            <p><a href="{% url 'group_details' group.slug %}">{{ group.name }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-8">
                        <h4>Events Owned:</h4>
                        {% for event in events_created %}
                            <p><a href="{% url 'event_details' event.group.slug event.pk %}">{{ event.name }}</a> ({{ event.date_and_time|timeuntil }})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        {% include "movie_list.html" %}

    </div>

{% endblock content %}
