{% extends 'base.html' %}

{% block css %}

{% endblock css %}

{% block content %}

    <div class='container wrapper'>
        <div class='row'>
            <form id='user-login-form' class='col-sm-offset-3 col-sm-6' method='POST'action="{% url 'login' %}" style='{% if error_on_create %}display:none{% endif %}'>
                <input type="hidden" name='type' value='login'>

                {%csrf_token%}
                {% if error %}<p class='text-danger'>{{error}}</p>{% endif %}
                <div class='form-group'>
                    <label>Username</label>
                    <input class='form-control' type="text" name='username'>
                </div>

                <div class='form-group'>
                    <label>Password</label>
                    <input class='form-control' type="password" name='password'>
                </div>
                <button type='submit' class='btn'>Login</button>

                <a href='#' id='switch-to-create'>Register as new user</a>
            </form>
        </div>

        <div class='row '>
            <form  id='user-create-form' class='col-sm-offset-3 col-sm-6' method='POST' action='{% url "login" %}' style='{% if error_on_create %}display:block{% endif %}'>
                {%csrf_token%}

                <p class='text-danger'>{{user_create_form.nonfield_errors}}</p>

                <input type="hidden" name='type' value='create_user'>

                <div class='form-group {% if user_create_form.username.errors %}has-error{% endif %}'>
                    <span class="text-danger">{{ user_create_form.username.errors }}</span>
                    <label>Username</label>
                    {{ user_create_form.username }}
                </div>

                <div class='form-group {% if user_create_form.email.errors %}has-error{% endif %}'>
                    <span class="text-danger">{{ user_create_form.email.errors }}</span>
                    <label>Email</label>
                    {{ user_create_form.email }}
                    <p>We only use your email to reset your password if you forget it.</p>
                </div>

                <div class='form-group{% if user_create_form.password1.errors or user_create_form.password2.errors %}has-error{% endif %}'>
                    <span class="text-danger">{{ user_create_form.password1.errors }}</span>
                    <span class="text-danger">{{ user_create_form.password2.errors }}</span>
                    <label>Password</label>
                    {{ user_create_form.password1 }}
                </div>

                <div class='form-group'>
                    <label>Confirm Password</label>
                    {{ user_create_form.password2 }}
                </div>

                <button type='submit' class='btn'>Register</button>

                <a href='#' id='switch-to-login'>Login as existing user</a>
            </form>
        </div>

        <div class='row col-sm-offset-3 col-sm-6'>
            <hr>
            <a href='#'>Forgot your password?</a>
        </div>
    </div>

{% endblock content %} 

{% block js %}

{% endblock js %}
