{% load staticfiles %}

<hr class='movie-hr'>
<div class="row">
{% for movie in movies %}
    {% if user.is_authenticated %}
        {% if movie in votes %}
            <div id='{{ movie.imdb_id }}' class="col-xs-4 col-sm-3 col-md-2 movie-summary movie-vote liked">

        {% else %}
            <div id='{{ movie.imdb_id }}' class="col-xs-4 col-sm-3 col-md-2 movie-summary movie-vote">
        {% endif %}
    {% else %}

        <div id='{{ movie.imdb_id }}' class="col-xs-4 col-sm-3 col-md-2 movie-summary movie-vote">
    {% endif %}

    <div class="row">
        <div class="col-xs-12">

            <h5 title='{{ movie.title }}' data-toggle="tooltip">{{ movie.title|truncatechars:16 }}</h5>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            
            {% if movie.poster %}
                <a class='movie-image' href="#"><img src="{{ movie.poster.url }}"></a>
            {% else %}
                <a class='movie-image' href="#"><img src="{% static 'img/default_image.jpg' %}"></a>
            {% endif %}

        </div>
    </div>
</div>
{% endfor %}
</div>
