{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class='container'>
    <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
        
            <div class="row">
                <form method='POST' action='{% url "movie_search" %}'>
                    {% csrf_token %}

                    <div class="col-sm-8">
                        <div class="form-group">
                            {{ form.title }}
                            <p class="help-block"> {{ message }}</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <button class='btn btn-default' type="submit"><span class='glyphicon glyphicon-search'> Search</span></button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    {% include "movie_list.html" %}
    
</div>
    
{% endblock %}
